<div class="container">
  <h1><%= @pet.name %></h1>
  <p><%= @pet.species %></p>
  <p>Trouvé à:<%= @pet.location %></p>
  <p>Trouvé le: <%= @pet.date %></p>
  <%= image_tag "https://loremflickr.com/320/240/#{@pet.species}", alt: @pet.name %>

  <br>
  <%= link_to 'Edit', edit_pet_path(@pet) %> |
  <%= link_to "Delete", pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "êtes vous sûr?"} %>
</div>
